SECRET_KEY='kecret_sey'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_USER=django_user
POSTGRES_PASSWORD=password_exampole
POSTGRES_DB=example
DB_HOST=db
DB_PORT=5432
CSRF_TRUSTED_ORIGINS=https://example.com