SECRET_KEY='kecret_sey'
DEBUG=True
DJANGO_ADMIN_URL=admin/
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_USER=django_user
POSTGRES_PASSWORD=password_exampole
POSTGRES_DB=example
DB_HOST=db
DB_PORT=5432
CSRF_TRUSTED_ORIGINS=https://example.com
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
